.add-question-button {
display: inline-block;
text-align: center;
color: #ffffff;
background-color: #6E4A63;
border: solid 1px transparent;
border-radius: 4px;
padding: 0.5em 1em;
margin-right: 450px;
font-family: 'Roboto Slab', serif;
font-size: 20px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
outline: none;
height: 38px;
margin-top: 23px;
}

.ui-form{
  text-align: center;
}
