.filter-container{
  display: flex;
  flex-direction: column;
  border-style: line;
  border-width: thin;
  border-radius: 5px;
  background-color: #E09F71;
  position: absolute;
  top: 5%;
  left: 26.4%;
  color: #6E4A63;
  padding: 10px;
}

.form-buttons{
  cursor: pointer;
}

.form-buttons:hover{
  text-decoration: none;
  color: #F6F8F6;
}
