#front, #back {
  background-image:
    linear-gradient(180deg, white 3rem, #F0A4A4 calc(3rem), #F0A4A4 calc(3rem + 2px), transparent 1px),
    repeating-linear-gradient(0deg, transparent, transparent 1.5rem, #DDD 1px, #DDD calc(1.5rem + 1px));
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  height: 300px;
  width: 500px;
  font-family: 'Coming Soon', cursive;
  font-size: 25px;
  margin-left: 75%;
  margin-top: 90px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position: absolute;

}

p{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.subtopic{
 margin-top: 20px;
 font-weight: bold;
 font-size: 30px;
}

.text{
    margin-top: 30px;
    line-height: 45px;
}

#flash-card-container{
  background-color: #6E4A63;
  width: 100vw;
  height: 100vh;
}

.flipcard{
  text-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

button{
  outline:none !important;
}

.flashcard-buttons {
display: inline-block;
text-align: center;
width:150px;
color: #ffffff;
background-color: #6E4A63;
border: solid 1px transparent;
border-radius: 4px;
padding: 0.5em 1em;
margin-right: 50px;
font-family: 'Roboto Slab', serif;
font-size: 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
outline: none;
margin-top: 30px;
align: absolute;
}

.flashcard-buttons:hover{
  background-color: #5d4355;
}

.modal-header{
  background-color: #E09F71;
  font-family: 'Uncial Antiqua', cursive;
  color: #F6F8F6;
}
.modal-content{
  background-color: #F6F8F6;
  font-family: 'Roboto Slab', serif;
  color: #6E4A63;
  text-align: center;
}
