a{
  text-decoration: none;
  color: #F6F8F6;
}

a:hover{
  text-decoration: none;
  color: #F6F8F6;
}

header{
  width: 100%;
  height: 44vh;
}

nav{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  background-color: #E09F71;

}

.title{
  font-size: 3rem;
  font-weight: 300;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
  color: #6E4A63;
}

#ogma {
  color: #6E4A63;
}



nav ul{
  display:flex;
}

nav ul li{
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
  animation-delay: 0s;
}

nav ul li:nth-child(2){
  animation-delay: 0.5s;
}

nav ul li:nth-child(3){
  animation-delay: 1s;
}

nav ul li:nth-child(4){
  animation-delay: 1.5s;
}

nav ul li a{
  padding: 1rem 0;
  margin: 0 3rem;
  position:relative;
}



nav ul li a:last-child{
  margin-right: 1rem;
}

nav ul li a::before,
nav ul li a::after{
  content: '';
  position:absolute;
  width:100%;
  height: 2px;
  background-color: #6E4A63;
  left:0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before{
  top:0;
  transform-origin: left;
}

nav ul li a::after{
  bottom:0;
  transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
  transform: scaleX(1);

}

@keyframes slideIn {
  from{

  }
  to{
    transform: translateX(0);
  }
}

body{
  /* background-color: gray; */
  background-size: cover;
  overflow-x: hidden;
}

.splash-header {
  display: flex;
  justify-content: center;
}
