.pairs-buttons{
  text-align:left;
  outline: none;
  margin-right: 300px;

}
.modal-header{
  background-color: #E09F71;
  font-family: 'Uncial Antiqua', cursive;
  color: #F6F8F6;
}
.modal-content{
  background-color: #F6F8F6;
  font-family: 'Roboto Slab', serif;
  color: #6E4A63;
  text-align: center;
}

.pairs-button {
display: inline-block;
text-align: center;
width:160px;
color: #ffffff;
background-color: #6E4A63;
border: solid 1px transparent;
border-radius: 4px;
padding: 0.5em 1em;
margin-right: 50px;
font-family: 'Roboto Slab', serif;
font-size: 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
outline: none;
margin-top: 30px;
align: absolute;
}



.pairs-button:hover{
  background-color: #5d4355;
  outline: none;
}
