.btn-primary{
  font-size: 16px;
  display: inline-block;
  text-align: center;
  background-color: #6E4A63;
  color: #ffffff;
  border: solid 1px;
  border-radius: 4px;
  border-color: black;
  padding: 0.5em 1em;
  font-family: 'Roboto Slab', serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover{
  background-color: #5d4355;
  border-color: black;
}

.header{
  font-family: 'Roboto Slab', serif !important;
}

.divider{
  height: 1px;
  width:100%;
  display:block;
  margin: 9px 0;
  overflow: hidden;
  background-color: #6E4A63;
}

.learned{
  color: #228B22;
  font-size: 15px;
}

.not-learned{
  color: #FF0000;
  font-size: 15px;
}

.learned-buttons{
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-around;

}

.content{
  overflow-y: scroll;
}
