#study-notes-form-container{
  padding: 2rem;
  position: relative;
  /* left: 30%; */

}

#study-note-input{
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  text-align: left;
  outline: none;
}

#study-note-input:focus{
  width: 400px;
}




#submit-study-note{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  outline: none;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #6E4A63;

}
