.game {
  background-image: url('../images/table.jpg');
  margin-top: -50px;
  background-size: cover;
  height: 1000px;

}

.grid-container {
  display: grid;
  grid-gap: 60px;

    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));


  /*grid-template-columns: auto auto auto auto auto auto auto auto; */

  position: center;
  margin-left: 10px;
  margin-top: 50px;
  text-align: center;
  vertical-align: center;
}

.grid-header-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
}

.grid-item {
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
}


.timer {
  font-size: 20px;
  font-weight: bold;
}

.restart-button{
  width: 15em;
  height: 3em;
  color: white;
  border: 0px;
}

.game-status-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(24, 21, 16);
  font-weight: bold;
}

.card {
  width: 175px;
  height: 250px;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  outline: none;
  text-align: center;
  vertical-align: center;
}

.hide-card {
  visibility: hidden;
}

.card-front {
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  background-image: url('../images/card.png');
  background-size: 175px 250px;
}

.card-back {
  color: black;
  font-family: 'Roboto Slab', serif;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  background-image: url('../images/paper.jpg');
  background-size: 175px 250px;
}
